@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - la_mia_pizzeria_static</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="bg-light">
    <div class="container">
        <div class="text-center py-4 mb-5">
            <h1>Menù pizze</h1>
        </div>
        <div class="row d-flex flex-wrap">
            <div class="col-6 d-flex align-items-center py-3 justify-content-center">
                <img class="rounded-circle" width="150" src="https://banner2.cleanpng.com/20180910/lpw/kisspng-california-style-pizza-pizza-margherita-sicilian-p-margarita-pizza-ceparanos-ny-pizza-5b9676c2e3e403.4168630415365874589335.jpg" alt="...">
                <div class="d-flex flex-column px-2">
                    <h5>Margherita</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisci elit.</p>
                    <span>5$</span>
                </div>
            </div>
            <div class="col-6 d-flex align-items-center justify-content-center py-3 ">
                <img class="rounded-circle" width="150 " src="https://png2.cleanpng.com/sh/ab961eeff2810fcce6d49f209e8b6073/L0KzQYm3UsAzN6V0iZH0aYP2gLBuTgNqa5pxgdN3LYDsisvoTfl1aZ1uedC2Y4Xsg7r1hb1xbaF1feR4bnmwhLL5lPUubp1mReJucIDogrF1ib1xcatBeZ8AYUe3crTqV8I1bmdpUZCCMkC3QIS6UME2OWg6UasENEO0RYK7TwBvbz==/kisspng-sicilian-pizza-italian-cuisine-pepperoni-tarte-fla-pepperoni-pizza-5a74bcc724f6d9.7204033015175999431514.png" alt="...">
                <div class="d-flex flex-column px-2">
                    <h5>Diavola</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisci elit.</p>
                    <span>5$</span>
                </div>
            </div>
            <div class="col-6 d-flex align-items-center justify-content-center py-3">
                <img class="rounded-circle" width="150" src="https://img.freepik.com/premium-photo/pepperoni-pizza-cheese-pizza-food-pizza-pizza-pepperoni-mozzarella-mozzarella-cheese-cheese_812450-5.jpg?w=740" alt="...">
                <div class="d-flex flex-column px-2">
                    <h5>Peperoni</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisci elit.</p>
                    <span>5$</span>
                </div>
            </div>
            <div class="col-6 d-flex align-items-center justify-content-center py-3">
                <img class="rounded-circle" width="150" src="https://as2.ftcdn.net/v2/jpg/05/63/37/57/1000_F_563375714_jB0mvLRvNbdqpNFBtvXqsBV2BwEPUsrK.webp" alt="...">
                <div class="d-flex flex-column px-2">
                    <h5>California</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisci elit.</p>
                    <span>5$</span>
                </div>
            </div>
            <div class="col-6 d-flex align-items-center justify-content-center py-3">
                <img class="rounded-circle" width="150" src="https://img.freepik.com/premium-photo/delicious-classic-italian-pizza-with-mozzarella_79762-2653.jpg?w=740" alt="...">
                <div class="d-flex flex-column px-2">
                    <h5>Prosciutto</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisci elit.</p>
                    <span>5$</span>
                </div>
            </div>
            <div class="col-6 d-flex align-items-center justify-content-center py-3">
                <img class="rounded-circle" width="150" src="https://www.pngkit.com/png/full/254-2542315_hot-veggie-pizza.png" alt="...">
                <div class="d-flex flex-column px-2">
                    <h5>Vegetariana</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisci elit.</p>
                    <span>5$</span>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>